* {
    box-sizing:border-box;
}

body {
    padding: 1rem;
}

main {
    max-width: 500px;
    margin: 0 auto;
}

article {
    margin: 1rem 8;

}

@supports (display: grid) {
    main {
    max-width: 10000px;
    margin: 0;
    }

article {
    margin: 0;
}

.Deals {
    font-family: Arial, Helvetica, sans-serif;
    font-family: 80%;
}

.Deals {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
}


.sale-item {
    display: flex;
    flex-flow: column;
    border: 1px solid black;
    padding: 2em;
    line-height: 25px;
}

.sale-item  h1 {
    color: rgb(3, 185, 176);
    font-weight: 900;
}



.sale-item p {
    color: #1edbd2;
    font-size: 20px;
    font-weight: 700;
}



img {
    order:-1;
    align-self: center;
    height: 100px;
}

button {
    background: lightblue;
    border-radius: 15px;
    color: white;
    border: none;
    font-size: 1.2rem;
}

button:hover {
    background:rgb(0, 48, 87);
    color:lightblue;
}

}
